.card {
	background-color: black;
	color: #FFE600;
	border-radius: 18px;
	font-size: 46px;
	flex: 0 0 30%;
	margin-bottom: 40px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s;
	
}
.card:hover {
	transform: scale(1.1);
}
.card a {
	color: #FFE600;
	text-decoration: none;
}